
/* colors */

.primary-color { background-color: #8BC34A; }
.dark-primary-color    { background-color: #689F38; }
.light-primary-color   { sbackground-color: #DCEDC8; }

.btn { outline: 0 !important; }

.page-title {
    word-wrap: break-word;
    margin-bottom: 25px;
}

/* action buttons */

.main-fab {
    z-index: 1;
    position: fixed !important;
    bottom: 24px;
    right: 24px;
}

.edit-button-container {
    margin: 0px;
    position: absolute !important;
}
.text-card .edit-button-container {
    top: 16px;
    right: 5px;
}
.video-card .edit-button-container {
    top: 45px;
    right: 5px;
}
.edit-button {
    box-shadow: none !important;
}

/* cards */

.card-link {
    text-decoration: none !important;
    color: inherit;
}
.card-link:hover .card-title {  color: #8BC34A; }
.card {
    width: 196px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:0;
    word-wrap: break-word;
}
.card-title {
    width: 160px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card-bottom-left-icon {
    position: absolute;
    right: 9px;
    bottom: 9px;
}

/* text-card */

.text-card {
    height: 140px;
}
.text-card-title {
    padding-bottom: 1px;
}
.text-card-description {
    max-height: 60px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* video-card */

.video-card {
    height: 198px;
}
.video-card-title {
    height: 30px;
}


