<th:block layout:fragment="channel_card_editable(channel)">
    <div layout:replace="fragments/channel_card :: channel_card(channel=${channel})">
        <th:block layout:fragment="edit-content">
            <button type="button" class="more-button close dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" layout:fragment="dropdown-content"></ul>
        </th:block>
        <ul layout:fragment="dropdown-content">
            <li>
                <a th:id="${channel.id} + '-delete'" class="delete" href="javascript:void(0)">Delete</a>
                <form th:id="${channel.id} + '-delete-form'" th:action="@{~/channel/forms/delete}" th:object="${channel}" method="POST"
                  th:attr="data-form-title='Delete Channel'" style="display: none;">
                    <input type="hidden" th:value="*{id}" name="id" />
                </form>
            </li>
        </ul>
    </div>
</th:block>