<th:block layout:fragment="video_card_editable(video)">
    <div layout:replace="fragments/video_card :: video_card(video=${video})">
        <th:block layout:fragment="edit-content">
            <button type="button" class="edit-button close dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a th:id="${video.video.id} + '-delete'" class="delete-card" href="javascript:void(0)">Delete</a>
                    <form th:id="${video.video.id} + '-delete-form'" th:action="@{~/video/forms/delete}" th:object="${video}" method="POST"
                      th:attr="data-form-title='Delete Channel'" style="display: none;">
                        <input type="hidden" th:value="*{video.id}" name="id" />
                    </form>
                </li>
            </ul>
        </th:block>
    </div>
</th:block>
