<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="google-signin-client_id" content="668692268404-b5mib7j4o7ooalk7mtdhsl340i1k3e43.apps.googleusercontent.com">
        <link rel="icon" type="image/x-icon" th:href="@{~/assets/images/favicon.png}">

        <!-- CSS -->

            <!-- Material Design fonts -->
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- Bootstrap Material Design -->
            <link rel="stylesheet" th:href="@{~/static/bootstrap-material-design/bootstrap-material-design.css}">
            <link rel="stylesheet" th:href="@{~/static/bootstrap-material-design/ripples.min.css}">

            <!-- Emotrace -->
            <link rel="stylesheet" th:href="@{~/static/css/main.css}">
            <link rel="stylesheet" th:href="@{~/static/css/login.css}">
            <link rel="stylesheet" th:href="@{~/static/css/bootstrap-480-767-grid.css}">

        <!-- Scripts -->

            <!-- Jquery-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

            <!-- Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <!-- Affectiva -->
            <script src="https://download.affectiva.com/js/3.2/affdex.js"/>

            <!-- Bootstrap Material Design -->
            <script th:src="@{~/static/bootstrap-material-design/arrive.min.js}"></script>
            <script th:src="@{~/static/bootstrap-material-design/material.min.js}"></script>
            <script th:src="@{~/static/bootstrap-material-design/ripples.min.js}"></script>

            <!-- Initialize Bootstrap Material Design -->
            <script>
                $(document).ready(function() { $.material.init(); })
            </script>

            <!-- Login JS -->
            <script th:src="@{~/static/js/login.js}"></script>
            <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

        <title>Emotrace</title>
    </head>
    <body>
        <div class="navbar navbar-primary">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <b><a class="navbar-brand" th:href="@{~/}">Emotrace</a></b>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li layout:fragment="videos-tab"><a th:href="@{~/}">Videos</a></li>
                <li layout:fragment="channels-tab"><a th:href="@{~/channels}">Channels</a></li>
                <li layout:fragment="users-tab"><a th:href="@{~/users}">Users</a></li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                  <li layout:fragment=""><div id="my-signin2" class="g-signin2" data-color="#8BC34A"></div></li>
                  <li layout:fragment=""><a href="#" class="sign_out" onclick="signOut();" id="center">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container" layout:fragment="content"></div>
    </body>
</html>