<html layout:decorate="~{base}">
    <head>
        <script th:src="@{~/static/js/channels.js}"></script>
    </head>
    <body>
        <li class="active" layout:fragment="channels-tab"><a th:href="@{~/channels}">Channels</a></li>
        <div layout:fragment="content">
            <div id="channels" class="row loads-more-content">
                <th:block layout:replace="fragment_collections/channel_cards :: channel_cards(channels=${channels})"></th:block>
            </div>

            <th:block layout:replace="fragments/load_more_button :: load_more_button(url=@{~/channels/scroll})"></th:block>
        </div>
    </body>
</html>