<html layout:decorate="~{base}">
    <head>
        <script th:src="@{~/static/js/user.js}"></script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12 text-center page-title">
                    <h2 th:text="${user.getNickName()} + '\'s channels'"></h2>
                </div>
            </div>
            <div id="channels" class="row loads-more-content">
                <th:block th:switch="${is_owner}">
                    <th:block th:case="true">
                        <th:block layout:replace="fragment_collections/channel_cards_editable :: channel_cards_editable(channels=${channels})"></th:block>
                    </th:block>
                    <th:block th:case="false">
                        <th:block layout:replace="fragment_collections/channel_cards :: channel_cards(channels=${channels})"></th:block>
                    </th:block>
                </th:block>
            </div>

            <th:block layout:replace="fragments/load_more_button :: load_more_button(url=@{~/user/} + ${user_id} + @{/channels_scroll})"></th:block>

            <th:block th:if="${is_owner}">
                <th:block layout:replace="fragments/add_button :: add_button(target='#create-channel-modal')"></th:block>

                <div layout:replace="fragments/modal :: modal(id='create-channel-modal', submit_button_id='create-channel-submit')">
                    <div layout:fragment="modal-content">
                        <form id="create-channel-form" th:action="@{~/channel/forms/create_editable}" th:object="${form_channel}" method="POST"
                          th:attr="data-user-id=${user_id}, data-form-title='Create Channel'">
                            <input type="hidden" th:value="${user_id}" name="owner" />
                            <input class="form-control name-field focus-field" type="text" placeholder="Name" th:field="*{name}" />
                            <textarea class="form-control" rows="3" placeholder="Description" th:field="*{description}"></textarea>
                        </form>
                    </div>
                </div>

                <div layout:replace="fragments/modal :: modal(id='edit-channel-modal', submit_button_id='edit-channel-submit')">
                    <div layout:fragment="modal-content">
                        <form id="edit-channel-form" th:action="@{~/channel/forms/edit_channel}" th:object="${form_channel}" method="POST"
                              th:attr="data-user-id=${user_id}, data-form-title='Edit Channel'">
                            <input type="hidden" name="id" id="channel_id" th:field="*{id}" />
                            <input class="form-control name-field focus-field" type="text" placeholder="Name" th:field="*{name}" />
                            <textarea class="form-control" rows="3" placeholder="Description" th:field="*{description}"></textarea>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
</html>
